{% import 'tree.bootstrap.html.twig' as panels %}
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style type="text/css">
        div.row > div {
            padding-top: 2px;
            padding-bottom: 2px;
            border-bottom: 1px solid grey;
        }

        div.col-xs-12 {
            padding-left: 100px;
        }

        div.progress {
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-3"><b>name</b></div>
        <div class="col-xs-9"><b>result</b></div>
    </div>
    {% for suite in root %}
        {{ panels.printTestSuite(suite,suite.suite.name,'') }}
    {% endfor %}
</div>
</body>
</html>